<style>
  ins {
    background: rgb(180, 255, 180);
    text-decoration: none;
  }

  del {
    background: rgb(255, 130, 130);
    color: rgb(100, 0, 0);
  }
</style>

<% diff.differences.each do |difference| %>
  <div class="card mb-2">
    <div class="card-header">
      <%= difference[1] %>
    </div>

    <div class="card-block">
      <%= difference[0] == '~' ? difference[4] : difference[3] %>
    </div>
  </div>
<% end %>
