<style>
  ins {
    background: rgb(180, 255, 180);
    text-decoration: none;
  }

  del {
    background: rgb(255, 130, 130);
    color: rgb(100, 0, 0);
  }

  .btn-showhide {
    margin-left: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
</style>

<% diff.differences.each_with_index do |difference, index| %>
  <div class="card mb-2">
    <div class="card-header">
      <%= difference[1] %>

      <button class="btn btn-secondary btn-sm btn-showhide" data-toggle="collapse" data-target="#collapse_<%= index %>">Show/Hide</button>
    </div>

    <div class="card-block collapse" id="collapse_<%= index %>">
      <%= difference[0] == '~' ? difference[4] : difference[3] %>
    </div>
  </div>
<% end %>
